<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/template :: head(title = 'Mini WMS')}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:replace="~{admin/template :: navbar}"></th:block>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{admin/template :: sidebar}"></th:block>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <th:block th:replace="~{admin/template :: contentHeader(contentName = #{menu.home})}">Warehouses</th:block>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <!--i18n-->
                    <div class="card-tabs">
                        <a class="btn-sm" href="/admin?lang=pl"><img src="/images/flags/flag_PL.png" alt="PL"></a>
                        <a class="btn-sm" href="/admin?lang=de"><img src="/images/flags/flag_DE.png" alt="DE"></a>
                        <a class="btn-sm" href="/admin?lang=en"><img src="/images/flags/flag_GB.png" alt="EN"></a>
                    </div>
                    <!--i18n End-->
                </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <th:block th:replace="~{admin/template :: rightbar}"></th:block>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <th:block th:replace="~{admin/template :: footer}"></th:block>
</div>
<!-- ./wrapper -->
</body>
</html>