<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/template :: head(title = 'Mini WMS')}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:replace="~{admin/template :: navbar}"></th:block>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{admin/template :: sidebar}"></th:block>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <th:block th:replace="~{admin/template :: contentHeader(contentName = 'Address')}"></th:block>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title col-11">Address table</h3>
                                <a th:href="@{/admin/address/add}" class="btn btn-success col-1" role="button">Add new</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-1">ID</th>
                                        <th class="col-2">Miejscowość</th>
                                        <th class="col-2" >Ulica</th>
                                        <th class="col-2">Numer</th>
                                        <th class="col-2">Kod pocztowy</th>
                                        <th class="col-2">Kraj</th>
                                        <th class="col-1">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="address : ${addresses}">
                                        <td th:text="${address.getId()}">Win 95+</td>
                                        <td th:text="${address.getCity()}">Win 95+</td>
                                        <td th:text="${address.getStreet()}">Trident</td>
                                        <td th:text="${address.getNumber()}">Internet Explorer 4.0</td>
                                        <td th:text="${address.getPostCode()}"> 4</td>
                                        <td th:text="${address.getCountry()}">X</td>
                                        <td>
                                        <a th:href="@{'/admin/address/delete/' + ${address.getId()}}" class="btn btn-danger btn-sm">
                                            <i class="nav-icon fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Miejscowość</th>
                                        <th>Ulica</th>
                                        <th>Numer</th>
                                        <th>Kod pocztowy</th>
                                        <th>Kraj</th>
                                        <th class="col-2">#</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <th:block th:replace="~{admin/template :: rightbar}"></th:block>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <th:block th:replace="~{admin/template :: footer}"></th:block>
    <footer>
        <!-- DataTables  & Plugins -->
        <script src="../adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="../adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

        <!-- Page specific script -->
        <script>
            $(function () {
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });
        </script>
    </footer>
</div>
<!-- ./wrapper -->
</body>
</html>